.form-room-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Limit the width on large screens */
  margin: 0 auto; /* Center the form */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-room-password-container-data {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-room-password-container-suggestion {
  border-bottom: 1px solid #ccc;
  margin-left: 40px;
  padding: 0 1em;
}
